<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<form action="http://localhost:8080/ClientUpload" method="post" enctype="multipart/form-data">
    文件上传1:<input type="file" name="file">
    <input type="submit" value="上传">
</form>
<th>
    <span th:text="${uuid}"/>
</th>
<body>
<h1>文件列表</h1>
<form action="http://localhost:8080/ClientUpload" method="post" enctype="multipart/form-data">
    文件上传1:<input type="file" name="file">
    <input type="submit" value="上传">
</form>
<table border="1px">
    <tr>
        <th>原始文件名</th>
        <th>新文件名</th>
        <th>文件类型</th>
        <th>文件大小</th>
        <th>文件保存目录地址</th>
        <th>文件加密数字信封</th>
        <th>文件保存时间</th>
    </tr>
    <!--/*@thymesVar id="files" type=""*/-->
<!--    <tr th:each="file,fileStat:${files}">-->
<!--        <th><span th:text="${file.oldName}"/></th>-->
<!--        <th><span th:text="${file.newName}"/></th>-->
<!--        <th><span th:text="${file.ext}"/></th>-->
<!--        <th><span th:text="${file.size}"/></th>-->
<!--        <th><span th:text="${file.path}"/></th>-->
<!--        <th><span th:text="${file.uploadTime}"/></th>-->
<!--        <td>-->
<!--            <a href="">下载</a>-->
<!--            <a href="">查看</a>-->
<!--            <a href="">删除</a>-->
<!--        </td>-->
<!--    </tr>-->
</table>

</body>
</html>